@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{  
    padding: 0;  
    margin: 0;  
    box-sizing: border-box; 
    font-family: 'Nunito', sans-serif; 
  }  
  body{  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    background: #b8b5ff;
  }  
  .container {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    border-radius:15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  .live-box{  
    margin: 3rem;  
    width: 50px;  
    height: 50px;  
    text-align: center;  
    background-color: red;  
    border-radius: 50%;  
    font: 3rem sans-serif;  
  }  
  .off-box{  
    margin: 3rem;  
    width: 50px;  
    height: 50px;  
    text-align: center;  
    background-color: green;  
    border-radius: 50%;  
    font-size: 2rem;  
  }  
  p#internet{  
    margin: 4rem;  
    font-size: 2rem;  
  }  
